.position  {
    text-align: center;
    position: relative; top: -130px;
    color: coral;
    background-size: cover;
   
}



.position22 {
    color: white;
    position: relative; left: 1000px;
    position: relative; top: -69px;
    list-style: none;
}

.manage4 {
    position: relative; left: 300px; 
    
    margin-top: 35px;
    
}

.manage5 {

    position: relative; left: 500px; 
    
    margin-top: -35px;
}


.manage6 {

    position: relative; left: 700px; 
    
    margin-top: -35px;
}

.manage7 {

    position: relative; left: 900px; 
    
    margin-top: -35px;
}


.login3 {
    position: relative; top: -120px;
    font-weight: 900;

}

.home3 {
    position: relative; top: -120px;
    font-weight: 900;
}


#My {
    background-color:coral;
    margin-left: 5px;
    
}

#Add {
  background-color:coral;

}

#Edit {
    background-color: coral;
    width:90px;
}

#Remove {
    background-color: coral;
}

table, td, th {
    border: 1px solid black;
}

#table1 {
    border-collapse: collapse;
    margin-top: 55px;
    margin-left: 500px;
    
  }

  .row1 {
    height: 25px;
    
  }
  .row2 {
    height: 25px;
    

  }
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
  }

  .input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    top: 9px;
   left: 9px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: white;
}

#table1 {
    margin-left: 380px;
    
}

#Schedule4 {

    margin-left: 500px;
    width: 300px;
    background-color: coral;
    margin-top: 40px;

}

#cell3 {

    width: 150px;
}
